/*  

    MOLECULES: Event

*/
:root {
    
}

.event__figure, .event__body {
    @include animation;
}
.event__item [href]:hover {
    .event__figure, .event__body {
        transform: translateX(2em);
    }
}
.event__excerpt {
    max-width: 37.5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include xs-screen {
        max-width: 100%;
    }
}

.social__card,
.instagram__card,
.linkedin__card {
    row-gap: calc(0.5 * var(--spacing));
}

.events,
.blog {
    .item__figure,
    .item__figure figure {
        aspect-ratio: 1 / 1;
        --aspect-ratio: 1/1;
        align-self: start;
        width: 100%;
    }
}

.social__card figure,
.instagram__card figure,
.linkedin__card figure {
    aspect-ratio: 1 / 1;
    --aspect-ratio: 1/1;
}

