/* 

	ORGANISMS: Tabs

*/

@import "../../atoms/Media/media";
@import "../../atoms/Animation/animation";
:root {

}

@property --p {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[data-tabs] {
/*	overflow: hidden;*/
}

[data-tab-prev],
[data-tab-next] {
	cursor: pointer;
}

[data-pane-container] {
	width: 100%;
	overflow: hidden;
}

	[data-pane] {
		pointer-events: none;

		&[data-active] {
			z-index: 1;
			pointer-events: all;
		}
	}


[data-tab] {
	cursor: pointer;
	&.button[data-active]:not([theme="dark"]) {
		background: rgba(var(--color-invert),1);
		color: rgba(var(--color-text),1);
		border-color: transparent;
	}
	&:not([data-active]) {
		opacity: .4;
	}
}

/* Accessibility focus */
/*[role="tab"]:focus { outline: 2px solid #007bff; }*/
[role="tab"]:focus { 
	position: relative;
	
}


/* Hide inactive panes but keep them in DOM for SEO/Accessibility */
[data-pane]:not([data-active]) {
/*    display: none;*/
}



[data-tab-reveal] {
  [data-reveal-text] {
    @include reveal-text-setup;
  }

  [data-reveal-image] {
			visibility: hidden;
/*			@include animation(visibility);*/
/*			clip-path: inset(0% 100% 0% 0%);*/
/*			transform: translateX(0%);*/
/*			animation: image-out var(--reveal-duration) var(--animation-timing) both;*/
			img {
/*				transform: translateX(0);*/
			}
  }

  [data-reveal-cover] {
  	
  }
}

/* 2. HOVER IN STAV (když na něj najedeš) */
[data-tab-reveal][data-active] {
  [data-reveal-text] {
  	--in-delay: 400ms;
    @include reveal-text-in;
  }

  [data-reveal-image] {
  		visibility: visible;
			@include animation(visibility);
			--reveal-duration: 400ms;
			animation: image-in var(--reveal-duration) var(--animation-timing) forwards;
      animation-play-state: running;

			img {
/*				transition: none;*/
/*				transform: translateX(0);*/
			}

  }

  [data-reveal-cover] {
  	figure {
  		animation: cover-in var(--reveal-duration) var(--animation-timing) forwards;
  	}
  }
}

[data-tab-reveal].is-closing {
	[data-reveal-image] {
  	visibility: visible;
		animation: image-out var(--reveal-duration) var(--animation-timing) forwards;
		/*img {
			@include animation;
			transform: translateX(20%);
		}*/
	}
	[data-reveal-cover] {
		figure {
  		--p: 1;
		}
	}
}

@keyframes image-in {
	0% {
		clip-path: inset(0% 100% 0% 0%);
		transform: translateX(0%);
	}
	100% {
		clip-path: inset(0% 0% 0% 0%);
		transform: translateX(0%);
	}
}


@keyframes image-out {
	0% {
			clip-path: inset(0% 0% 0% 0%);
	    transform: scale(1) translateX(0%);
/*	    opacity: 1;*/
	}
	100% {
			clip-path: inset(0% 0% 0% 0%);
	    transform: scale(1) translateX(20%);
/*	    opacity: 0;*/
	}
}

@keyframes cover-in {
	from {
		--p: 0;
	}
	to {
		--p: 1;
	}
}

@keyframes cover-out {
	from {
		--p: 1;
	}
	to {
		--p: 0;
	}
}