/* 

	ORGANISMS: Tabs

*/

@import "../../atoms/Media/media";
@import "../../atoms/Animation/animation";
:root {

}

@property --p {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[data-tabs] {
/*	overflow: hidden;*/
}

[data-tab-prev],
[data-tab-next] {
	cursor: pointer;
}

[data-pane-container] {
	width: 100%;
/*	display: grid;*/
/*	grid-template-columns: 1fr;*/
/*	grid-template-rows: 1fr;*/
/*	align-items: start;*/
	overflow: hidden;
}

	[data-pane] {
/*		grid-column: 1;*/
/*		grid-row: 1;*/
/*		visibility: hidden;*/
/*		opacity: 0;*/
		
		pointer-events: none;
/*		display: none;*/

/*		@include animation;*/
/*		position: absolute;*/

		&[data-active] {
/*			visibility: visible;*/
/*			opacity: 1;*/
			z-index: 1;
			pointer-events: all;
/*			--p: 1;*/
/*			display: grid;*/
/*			position: relative;*/
		}
	}


[data-tab] {
	cursor: pointer;
	&.button[data-active]:not([theme="dark"]) {
		background: rgba(var(--color-invert),1);
		color: rgba(var(--color-text),1);
		border-color: transparent;
	}
	&:not([data-active]) {
		opacity: .4;
	}
}

/* Accessibility focus */
/*[role="tab"]:focus { outline: 2px solid #007bff; }*/
[role="tab"]:focus { 
	position: relative;
	
}


/* Hide inactive panes but keep them in DOM for SEO/Accessibility */
[data-pane]:not([data-active]) {
/*    display: none;*/
}

[data-tab-reveal] {
  &[data-reveal-text],
  [data-reveal-text] {
    @include reveal-text-setup;
  }

  &[data-reveal-image],
  [data-reveal-image] {
  	clip-path: inset(0% 100% 0% 0%);
  }
}

/* 2. HOVER IN STAV (když na něj najedeš) */
[data-pane][data-active] [data-tab-reveal],
[data-pane][data-active][data-tab-reveal] {
  &[data-reveal-text],
  [data-reveal-text] {
  	--in-delay: 600ms;
    @include reveal-text-in;
  }

  &[data-reveal-image],
  [data-reveal-image] {
  	@include animation((clip-path));
  	clip-path: inset(0% 0% 0% 0%);
  }

  &[data-reveal-cover],
  [data-reveal-cover] {
  	figure {
		transition: --p var(--reveal-duration) cubic-bezier(0.4, 0, 0.2, 1);
  		--p: 1;
  	}
  }
}

[data-pane].is-closing[data-tab-reveal],
[data-pane].is-closing [data-tab-reveal] {
	&[data-reveal-image],
	[data-reveal-image] {
		@include animation((transform));
		transform: translateX(20%);
		transition-delay: 50ms;
		clip-path: inset(0% 0% 0% 0%);
	}
	&[data-reveal-cover],
	[data-reveal-cover] {
		figure {
			--p: 1;
		}
	}
}