/*

	ORGANISM: Header
	
*/
@import "../../atoms/Media/media";
@import "../../atoms/Animation/animation";
@import "../../atoms/Theme/border";
:root {
	--header-height: 55px;

}

[fab] {
/*	--size: Max(calc(var(--spacing)*2.15), 62px);*/
	z-index: 1000;
/*	position: fixed;*/
/*	t: var(--spacing);*/
/*	right: var(--spacing);*/
	display: block;
	pointer-events: all;

	button {
		height: var(--header-height);
		border-radius: var(--header-height);
/*		clip-path: polygon(15% 15%, 50% 0, 85% 15%, 100% 50%, 85% 85%, 50% 100%, 15% 85%, 0 50%);		 */
		display: flex;
		align-items: center;
		justify-content: center;
		@include animation;
		
		svg path {
			fill: var(--color-invert);
		}

		&:hover {
/*			clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);*/
		}
	}


}

[data-header] {
	z-index: 998;
	position: fixed;
	inset: 0;
	pointer-events: none;
	display: grid;
	@include animation;
	backdrop-filter: blur(0rem) brightness(1);
	
	&[hide] {

	}

	&[collapsed] {

	}
}


[data-reveal-on-navbar] {
	@include reveal-text-word;
}

html[navbar-open] {
	[data-reveal-on-navbar] {
		@include reveal-text-in;
	}
}

[navbar] {
	pointer-events: all;
	@include animation;
/*	min-width: $screen-mobile;*/
/*	height: var(--header-height);*/
}
	
	[navbar-toggle] {
		cursor: pointer;
	}
	[navbar-header] {
		height: var(--header-height);
		width: 100%;
	}

	[navbar-widget] {
		display: grid;
		grid-template-rows: 0fr;
		contain: paint;
		@include animation(grid-template-rows);
		transition-duration: calc(var(--animation-duration)*.5);

		& > div {
			min-height: 0;
			@include animation;
			visibility: hidden;
		}

		[navbar-menu] .link {
			&:hover {
				opacity: 1;
				[data-char] {
					--reveal-delay: 0ms;
					--color-delay: 0ms;
					--reveal-duration: 600ms;
					color: var(--color-acc) !important;
				}
			}
		}
	}

html[navbar-open] {

	[navbar] {
/*		min-width: $screen-tablet;*/
		--background: var(--color-dark);
		background: var(--background);
	}
	[data-header] {
		backdrop-filter: blur(1rem) brightness(0.6);
	}
	[navbar-widget] {
		grid-template-rows: 1fr;
		max-height: calc(100vh - var(--spacing)*1 - var(--header-height));

		& > div {
			visibility: visible;
		}
	}
}

[navbar-header] {
  & [data-on-navbar-hover] {
    & > * {
      transition: visibility 0s, opacity 0.3s ease, transform 0.3s ease;
    }
    & > :not([data-default]) {
      visibility: hidden;
      opacity: 0;
      transform: translateY(10px);
    }
    & > [data-default] {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  & [data-on-navbar-toggle] {
    & > * {
      transition: visibility 0s, opacity 0.3s ease, transform 0.3s ease;
    }
    & > :not([data-default]) { 
      visibility: hidden; 
      opacity: 0; 
      transform: translateY(10px);
    }
    & > [data-default] { 
      visibility: visible; 
      opacity: 1; 
      transform: translateY(0);
    }
  }

  html:not([navbar-open]) &:hover [data-on-navbar-hover] {
    & > [data-default] {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-10px);
      transition: visibility 0s 0.3s, opacity 0.3s ease, transform 0.3s ease;
    }
    & > :not([data-default]) {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

  html[navbar-open] & {
    & [data-on-navbar-hover] {
      & > [data-default] {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: visibility 0s 0.3s, opacity 0.3s ease, transform 0.3s ease;
      }
      & > :not([data-default]) {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    & [data-on-navbar-toggle] {
      & > [data-default] { 
        visibility: hidden; 
        opacity: 0; 
        transform: translateY(-10px);
        transition: visibility 0s 0.3s, opacity 0.3s ease, transform 0.3s ease;
      }
      & > :not([data-default]) { 
        visibility: visible; 
        opacity: 1; 
        transform: translateY(0);
      }
    }
  }
}