/* 

	ATOMS: Link 

*/
@import "../Animation/animation";

:root {
	
}

.link {
	font-size: 12px;
	letter-spacing: 0;
}

nav:not([class*="font__size"]):not(.footer__nav) {
	.link[href] {
		font-size: 12px;
	}
}

p a[href] {
	position: relative;
	
}	