/* 

	ATOMS: Link 

*/
@import "../Animation/animation";

:root {}

.link {
	// font-size: 12px;
	// letter-spacing: 0;
	// font-weight: 600;
}

nav[class*="font__size"] .link,
nav[class*="font__size"] .link span,
[navbar-widget] [navbar-menu] .link,
[navbar-widget] [navbar-menu] .link span {
	font-size: inherit;
	line-height: inherit;
}

nav:not([class*="font__size"]):not(.footer__nav):not([navbar-menu]) {
	.link[href] {
		font-size: 12px;
	}
}

p a[href] {
	position: relative;

}