/*

	PAGE: Index 
	
*/
@import "../../atoms/Animation/animation";

:root {

}

[page="home"] {

}

[data-tabs] {
	[data-tab] {
		@include animation(opacity);
	}
	[data-tab]:hover {
		opacity: 1;
	}
	[data-tab][data-active] span {
		--reveal-delay: 0ms;
		--reveal-duration: 600ms;
		color: rgb(var(--color-acc)) !important;
	}
}

section.process {
	.item__figure {
		transform: scale(calc(0.3 + (var(--progress)*1.4) - (Max(0,(var(--progress) - 0.5))*2.8) ));
	}
}
