/*

	FOOTER
	
*/
:root {
	--progress: 0;
}


footer,
.footer {
	position: relative;
	pointer-events: none;
	& > * {
		pointer-events: all;
	}

	.footer__logo  {
		height: 2em;
		svg {
			width: auto;
			height: 100%;
		}
	}
}

[data-footer] {
	
}
