/*

	ATOMS: Inputs

*/
:root {
	--input-height: 40px;
	--input-padding: calc(var(--input-height)*0.35);
}

input, textarea, select {
	font-family: var(--ff-body);
	font-size: var(--font-size-default);
	font-weight: var(--fw-body);
	line-height: var(--line-height-default);
	min-height: var(--input-height);
	border-radius: calc(var(--input-height)*.5);
	padding: var(--input-padding);
	@include border;

	color: currentColor;
	position: relative;
	width: 100%;

	&::placeholder {
		opacity: 0.5;
	}

	&:focus, &:target {
		@include border('',100%)
	}

	&.invalid {
		animation: invalid 2s linear;
/*		border-color: color(red);*/
	}
}

.field {
	position: relative;
	width: 100%;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}

select {
	option {
		color: black;
		&[disabled][selected] {
			opacity: .5;
		}
	}
}

[data-checkbox] {
/*	display: inline-flex;*/
	width: auto;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	input:checked + div.button {
		background: rgba(var(--color-invert),1);
		color: rgba(var(--color-dark),1);
	}
}

.honeypot {
    position: absolute;
    left: -9999px;
}

input[type="file"] {
	font-size: calc(var(--font-size-md)*1);
}