/*  

    MOLECULES: Class

*/
:root {
    
}

.project__item.--small,
.project__item.--default {
    [href] {
        .project__figure {
            @include animation;
            width: 0;
            margin-right: 0;
        }
        img {
            @include animation;
            transform-origin: bottom left;
            transform: scale(0);
        }
        &:hover {
            .project__figure {
                width: calc(var(--spacing) * var(--figure_size));
                margin-right: calc(var(--spacing) * 0.5);
            }
            img {
                transform: scale(1.1);
            }
        }
    }
}
.project__item.--small {
    --figure_size: 2;
}
.project__item.--default {
    --figure_size: 3;
}
.project__item.--large {
    [href] {
        .project__figure {
            overflow: hidden;
        }
        .project__figure figure {
            @include animation;
            transform: scale(1.1);
        }
        &:hover {
            .project__figure figure {
                transform: scale(1);
            }
        }
    }
}